.contact-page .container { margin-top:40px;}
.h1 small { font-size: 24px; }
#home-search-section:before{background-color: transparent !important;}
#map {height: 400px;width: 100%;}
.nav-logo img {width:150px !important;height:auto}